<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html"><font size="5">主页</font></a></li>
           <br><li class="arrow"><a class="hsubs" href="wedding.html"><font size="5">作品集</font></a>  
						<ul class="subs">
	                        <li><a href="wedding.html"><font size="3">期中作品</font></a></li>
	                        <li><a href="wedding.html"><font size="3">期末作品</font></a></li>	               
	                    </ul>
             <br><li class="arrow"><a class="hsubs" href="wedding.html"><font size="5">学习笔记</font></a>  
						<ul class="subs">
	                        <li><a href="wedding.html"><font size="3">网页设计与制作</font></a></li>
	                        <li><a href="wedding.html"><font size="3">信息可视化</font></a></li>	               
	                    </ul>
			 <br><li class="arrow"><a class="hsubs" href="wedding.html"><font size="5">学习心得</font></a>  
                   
                   
                   
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
