@charset "UTF-8";
/* CSS Document */
.logo:hover{
	transform: rotate(160deg);
	box-shadow: inset 10px 0 red;
	transition-property: red,box-shadow;
    transition-duration: 5s,5s;
}

.logo {
    animation: fillBg 5s;
    height: 120px;
    width: 120px;
    border: 1px solid #da4b4b;
} 
@keyframes fillBg { 
  0% { 
  background-color: green; 
  } 
  100% { 
  background-color: yellow; 
  } 
} 

p {
    display: block;
    -webkit-margin-before: 3em;
    -webkit-margin-after: 3em;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 0px;
}